<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Bootstrap demo</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <style>
                .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #2c5c39;
                color: white;
                text-align: center;
                }
            </style>
      </head>
      <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="images/EutaSapana-logo.jpg" alt="" style="max-height: 90px; width: auto; padding: 5px;">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                      </li>                 
                    </ul>
                    <a href="" class="btn btn-danger">Login</a>
                  </div>
                </div>
            </nav>
    
    
            <div id="carouselExample" class="carousel slide" style="width: 100%; height: 300px;">
                <div class="carousel-inner" style="width: 100%; height: 100%;">
                    <div class="carousel-item active">
                        <img src="images/banner_1.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="carousel-item">
                        <img src="images/banner_2.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="carousel-item">
                        <img src="images/banner_3.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>            

        </div>

        <h2 class="text-center">Trending Courses</h2>

        <div class="row">
            <div class="col-md-4" style="padding: 0; margin: 0;">
                <img src="images/course1.jpg" alt="" style="width: 100%; height: 200px; object-fit: contain; display: block;">
            </div>
        
            <div class="col-md-4" style="padding: 0; margin: 0;">
                <img src="images/course2.jpg" alt="" style="width: 100%; height: 200px; object-fit: contain; display: block;">
            </div>
        
            <div class="col-md-4" style="padding: 0; margin: 0;">
                <img src="images/course3.jpg" alt="" style="width: 100%; height: 200px; object-fit: contain; display: block;">
            </div>
        </div>     
        
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>

    

      <div class="footer">
        <p>© 2023 Copyright: @eutasapana</p>
      </div>

</html>